.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #071C26;
  color: #fff;
  height: 60px;
  padding: 10px;
}

.button_save {
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  background: #2AC45C;
  color: #fff;
  padding: 11px 20px;
}
